# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store        # For Mac users
Thumbs.db        # For Windows users